.form {  
    max-width: 600px;  
    margin: auto;  
    padding: 20px;  
    border-radius: 8px;  
    background-color:rgb(57, 57, 57);
    box-shadow: 0 3px 6px rgba(0,0,0,0.1);
    color: #d5d5d5;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }  
  
  .header {  
    color: #d5d5d5;
    text-align: center;  
    margin-bottom: 20px;  
  }  
  
  .label {  
    margin-top: 10px;  
    font-weight: bold; 
    color: #d5d5d5; 
  }  
  
  .inputField {  
    width: 80%;  
    padding: 10px;  
    margin-bottom: 15px;  
    border: 1px solid #ccc;  
    border-radius: 4px;  
  }  
  
  .textareaField {  
    width: 80%;  
    padding: 10px;  
    margin-bottom: 15px;  
    border: 1px solid #ccc;  
    border-radius: 4px;  
    resize: vertical; 
  }  
  
  .selectField {  
    width: 84%;  
    padding: 10px;  
    margin-bottom: 15px;  
    border: 1px solid #ccc;  
    border-radius: 4px;  
  }  
  
  .button{
    background-color: #ffffff;
    color: rgb(57, 57, 57);
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease;
  }
  
  .button:hover{
    background-color: #d5d5d5;
    color: rgb(57, 57, 57);
  }
  
  .button:active {
    background-color: #cbc7c7;
    color: rgb(57, 57, 57);
  } 